@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  @apply bg-white text-primary;
}

.section-muted {
  @apply bg-surface;
}
